<h1>Twetter</h1>

<form id="login-form" action="login" method="POST">
  <p class="body">Username:</p>
  <input type="text" name="username"/>
  <p class="body">Password:</p>
  <input type="password" name="password"/></br>
  <input type="submit" value="Login"></br>
  <a href="/auth/facebook">Log in with Facebook</a>
</form>
