<h1>Cat Generator</h1>
<ul>
 <li>Generate a new cat at /cats/new</li>
 <li>See cats at /cats</li>
 <li>See cats with a certain color with /cats/bycolor/color</li>
 <li>See cats within a certain age range with /cats/byage/lower-upper</li>
 <li>Delete the oldest cat with /cats/delete/old</li>
</ul>
