<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twetter, Social Media for Birds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet", type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="icon" type="image/ico" href="images/favicon.ico">
</head>
<body>
    {{{body}}}
</body>
<script type="text/javascript" src="javascripts/main.js"></script>
</html>
