<h1>You deleted the oldest cat. Farewell, my furry friend.</h1>
{{#each deleted}}
<p>{{this.name}} was {{this.age}} years old, and had {{this.color.[0]}} and {{this.color.[1]}} fur. Requiescat in pace.</p>
{{/each}}
